body {
    background: #dde;
    color: #442;
    font-family: 'Andale Mono', 'Verdana';
    margin: 0px;
    width:100%;
}

textarea, input { 
    outline: none; 
}

.address {
    width: 600px;
}

.qbutton {
    height: 23px;
    width: 50px:
}

input {
    background: #fff;
    color: #111;
    border: 1px solid #668;
    border-radius: 2px;
    height: 23px;
    padding: 0px;
    margin: 0px;
    
}

#map_canvas {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 300px;
    bottom: 80px;
    margin: 0px auto;
    border-color: #eee8aa;
    border-radius: 13px;
    color: #2f4f4f
}

#feed {
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 80px;
    width: 300px;
    margin: 0px auto;
    border: 1px solid #fff;
    border-radius: 2px;
    background: #fff;
    
}

#input {
    position:absolute;
    bottom: 130px;
    left: 75px;
    right: 375px;
    text-align: center;
}

#console {
    position:absolute;
    bottom: 10px;
}

.feedentry {
    margin: 8px 0px 0px 0px;
}