body {
    background: #dde;
    color: #442;
    font-family: 'Andale Mono', 'Verdana';
    margin: 0px;
    width:100%;
}

textarea, input { 
    outline: none; 
}

.address {
    width: 600px;
}

.qbutton {
    height: 23px;
    width: 50px:
}

input {
    background: #fff;
    color: #111;
    border: 1px solid #668;
    border-radius: 2px;
    height: 23px;
    padding: 0px;
    margin: 0px;
    
}

#map_canvas {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 300px;
    bottom: 80px;
    margin: 0px auto;
    border-color: #eee8aa;
    border-radius: 13px;
    color: #2f4f4f
}

#feed {
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 79px;
    width: 300px;
    margin: 0px auto;
    padding-top: 8px;;
    border: 1px solid #dde;
    border-radius: 2px;
    background: #fff;
    font-family: 'Helvetica';
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-align:center;
    -webkit-box-top: 0px;
}

#input {
    position:absolute;
    bottom: 100px;
    left: 75px;
    right: 375px;
    text-align: center;
}

#console {
    position:absolute;
    bottom: 10px;
}

#create_post {
    background: #eef;
    padding:8px;
    position:absolute;
    right: 13px;
    bottom: 13px;
    border-radius:4px;
}

#p_entry {
    width:300px;
}

a { text-decoration: none; } 

.address {
    background: rgba(100%, 100%, 100%, 0.5);
}

.post {
    margin: 4px 0px 4px 0px;
    padding: 4px 4px 4px 4px;
    width: 284px;
    min-height: 50px;
}

.odd_post {
    padding: 4px 4px 4px 4px;
    background: #eef;
    color: #333;
    width: 284px;
    min-height: 50px;
    border-radius: 4px;
}


.poster {
    font-size: 12px;
}

.content {
    font-size: 14px;
    margin-bottom: 8px;
    font-family: 'Times New Roman';
}

.phash {
    font-size: 10px;
    float: left;
    border: 1px solid #dde;
    padding: 2px;
    background: #eee;
    border-radius: 3px;
    font-family: 'Symbol'; 
}

.phash:hover {
   background: #fff;
}

.timestamp {
    font-size: 10px;
    float:right;
}

